<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>404 page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>
<body>

  <div class="container">
    <h1 class="text-center">Voting administration page</h1>
    <!-- flash flask messages for errors/notifications -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <div class="row">
    <div class="col text-center">
      <form id="entry">
	<label for="attempt">Password:</label>
	<input id="attempt" name="attempt" type="text" width="15" autocomplete="off" autofocus />
      </form>
    </div>
  </div>

  <script>

  // kill normal function of form submission
  //$("#entry").submit( function(event) {
  //	  event.preventDefault();
  //	});

  $("#entry").submit( function(event) {
  	  //event.preventDefault();
	  var txt = $("attempt").val();
	  $.getJSON("/_pc", { text : txt },
			  function(received) {
				  attmpt = received;
				  console.log(attmpt);
				  if (attmpt == 1) {
					  console.log("correct password enetered");
				  }
  	});
  });

  /*
  $("#attempt").submit(function(event) {
	  var txt = $("attempt").val();
	  $.getJSON("/_pc", { text : txt },
			  function(received) {
				  
				  attmpt = received;
				  if (attmpt) {
					  console.log("correct password enetered");
				  }

		  })
  });
  */
  <script>


  </div>  <!-- container (for bootstrap) -->

</body>
</html>
