<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>admin page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

  <div class="container">
    <h1 class="text-center">Voting administration page</h1>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <br /><a href="index">Home</a><br />
          <a href="register">Register To Vote</a><br />
          <a href="vote">Vote</a><br />
          <a href="verify">Verify Results</a><br />
          <a href="admin">Administration</a><br />
          <br>
        </div>
      </div>
    </div>
    <!-- flash flask messages for errors/notifications -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if session.wp is defined %}
    <!-- specify topic of vote -->
    <div id="enterinfo"><br />
      <form id="entry" method="POST" action="/save_settings">
        <div class="row">
          <div class="col">
            <label for="title">Title of Election:</label><br />
            <div class="row">
            </div></div>
            <div class="col">
              <input type="text" name='title' id='title' value="{{ g.vote_title }}" />
              <table id="vote_options">
                {% for option in g.vote_options %}
                 <tr id='option'>
                  <td>
                    <input type='text' name='option' value="{{ option.name }}"/>
                  </td>
                  <td>
                      <input type="button" value="Delete" />
                  </td>
                </tr>
                {% endfor %}
              </table>
              <p>
                  <input type="button" value="Insert row">
              </p>
            </div></div><!-- ends row and columns -->
            <input type="submit" name="submit_election" value="Submit Election Attributes">
          </form>
        </div>  
        <!-- specify voting options -->
        {% else %}  
        <div class="row">
          <div class="col text-center">
            <form id="entry" method="POST" action="/pc">
              <label for="pass">Password:</label>
              <input type="password" id="pass" name="password"
              minlength="1" required>
              <input type="submit" value="Submit">

            </form>
          </div>
        </div>
        {% endif %}

        <script>
          $('#vote_options').on('click', 'input[type="button"]', function () {
              $(this).closest('tr').remove();
          })
          $('p input[type="button"]').click(function () {
              $('#vote_options').append('<tr><td><input type="text" name="option" /></td><td><input type="button" value="Delete" /></td></tr>')
          });
        </script>


      </div>  <!-- container (for bootstrap) -->

    </body>
    </html>
