<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>election integrity page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

  <div class="container">
    <h1 class="text-center">Election Integrity Home Page</h1>
    <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <br /><a href="index">Home</a><br />
        <a href="register">Register To Vote</a><br />
        <a href="vote">Vote</a><br />
        <a href="verify">Verify Results</a><br />
        <a href="admin">Administration</a><br />
      <br>
    </div>

    <div class="col-sm-9">
      <h4><small>A small-scale demonstration of secure, encrypted voting</small></h4>
      <hr>

        <h5><small>INSTRUCTIONS</small></h5>
        <p>To participate in a vote, click the <a href="register">register to vote</a> link and generate a key. Once you do
	that, the server stores it automatically. From there you can go to the <a href="vote">vote</a> page and record 
        your vote using	your coefficients. Once your vote is confirmed and cast, the <a href="verify">verify results</a> screen
        will display the outcome of the election based on the submitted and confirmed values by the vote counters.</p></ b>

        <h5><small>DESCRIPTION</small></h5>
        <p>The operation of the project can be described as showcasing a voting encryption scheme
        which uses homomorphic secret sharing and features vote verification using Lagrange polynomial interpolation.
        Each vote is encoded as a constant term in a polynomial with the coefficients of the remaining terms
        acting as user-defined keys. Those user-defined coefficients help facilitate the creation of separate
        encrypted values which are transmitted to the respective vote counters.<p></ b>

        <h5><small>THE MATH</small></h5>
        <p>A polynomial with a degree equal the number of vote counters minus one is then used with
        the voter-defined coefficients-per-term to calculate each specific vote counters value. An
        election-wide prime modulus is then used to encrypt each value before sending it off to its
        respective vote counter.</p></ b>

        <p>To tally up votes, each vote counter's sum of encrypted values are then used as points for
        an Interpolating Lagrange Polynomial in order to find the constant term. Once it's found,
        the number of maximum voters allowed (defined at the beginning of the election) is used to
        find the vote tally for each option when expressing the constant term as a linear combination
        of the maximum voter count.</p></ b>

    </div>
  </div>
</div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="text-center">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
    <p class="text-center">Your ID: {{ g.voterid }}</p><br />
    <br />
  </div>  <!-- container (for bootstrap) -->

</body>
</html>
