<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>election integrity page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

  <div class="container">
    <h1 class="text-center">Election Integrity Home Page</h1>
    <p class="text-center">
      <a href="register">REGISTER TO VOTE</a>
    </p>
    <p class="text-center">
      <a href="vote">VOTE HERE</a>
    </p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="text-center">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
    <p class="text-center">Your ID: {{ g.voterid }}</p><br />
    <br />
  </div>  <!-- container (for bootstrap) -->

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Options</h4>
        <br /><a href="#section1">Home</a><br />
        <a href="register">Register To Vote</a><br />
        <a href="vote">Vote</a><br />
        <a href="verify">Verify Results</a><br />
        <a href="admin">Administration</a><br />
      <br>
    </div>

    <div class="col-sm-9">
      <h4><small>INFORMATION</small></h4>
      <hr>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>
