<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>election integrity page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

  <div class="container">
    <h1 class="text-center">Election Integrity Home Page</h1>
    <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <br /><a href="index">Home</a><br />
        <a href="register">Register To Vote</a><br />
        <a href="vote">Vote</a><br />
        <a href="verify">Verify Results</a><br />
        <a href="admin">Administration</a><br />
      <br>
    </div>

    <div class="col-sm-9">
      <h4><small>INFORMATION</small></h4>
      <hr>
        <p>This project demonstrates a voting encryption scheme which uses homomorphic secret 
        sharing and features vote verification using Lagrange polynomials. Each vote is encoded
        as a constant term in a polynomial with the coefficients of the remaining terms acting as
        user-defined keys. Those user-defined coefficients allow the voter to send separate terms 
        , all carrying information about the vote they cast, to different designated vote counters
        and eventually tally their vote.</p></ b>

        <p>To participate in a vote, click the 'register to vote' link on the left and generate a key. Once you do
	that, the server stores it automatically. From there you can go to the 'vote' page and record your vote using
	your coefficients. After your vote has been cast, the 'verify results' screen will output the outcome of the election
	based on the submitted and confirmed values by the voters</p></ b>
        
    </div>
  </div>
</div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="text-center">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
    <p class="text-center">Your ID: {{ g.voterid }}</p><br />
    <br />
  </div>  <!-- container (for bootstrap) -->

</body>
</html>
