<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
  <title>Register to Vote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
  <!-- jquery from cdn. (probably cached)? -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Election Integrity Registration Page</h1>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <br /><a href="index">Home</a><br />
          <a href="register">Register To Vote</a><br />
          <a href="vote">Vote</a><br />
          <a href="verify">Verify Results</a><br />
          <a href="admin">Administration</a><br />
          <br>
        </div>
      </div>
    </div>
    <p class="text-center">
      <button type="button" onclick="loadDoc()">Generate Key</button>
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script type="text/javascript">
          function loadDoc() {
              $.ajax({
                  url: "/generate_key",
                  method: "POST",
                  data: JSON.stringify($(this).attr("id")),
                  contentType: 'application/json;charset=UTF-8',
                  success: function(data) {
                      $('.voterkey').html(data)
                  }
              })
          };
      </script>
      
        <div class="voterkey"></div>
      </p>
    </p>
    <p class="text-center">Your ID: {{ g.voterid }}</p><br />
    <!-- flash flask messages for errors/notifications -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </div>  <!-- container (for bootstrap) -->
</body>
</html>
